*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #fff;
    color: #000;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    max-width: 1500px;
    padding: 0px 30px;
}

/*HEADER */
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #8184AF26;    
    padding: 0px 30px;
}

.header__title-group{
    width: 1280px;
    height: 40px;
    margin-top: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #8184AF26;
}

.header__controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.header__edit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #8184AF;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 21px;
}

.header__icon_edit{
    width: 18px;
    height: 18px;
}

.header__control-icon{
    height: 30px;
    width: 30px;
}

/*PRODUCT */
.product-section{
    display: flex;
    padding-top: 20px;
}

.spec-card{
    width: 585px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.specs-container{
    margin-right: 20px;
    width: 585px;
    height: 540px;
    border-right: 1px solid #8184AF26;
}

.spec-card__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #8184AF40;
    font-family: Raleway;
    color: #525369;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.spec-card__link-text{
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}


.spec-card__value{
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    color: #525369;
    line-height: 100%;
    letter-spacing: 0%;
}

.spec-card__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.product-gallery__caption{
    margin-bottom: 15px;
}

.product-gallery__img{
    width: 225px;
    margin-bottom: 15px;
    height: 225px;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 0px #8184AF1A;
}